@use '@styles/__mixin.module.scss' as *;
@use '@styles/__variable.module.scss' as *;
.btn {
    @include btn(176px, 42px, #fff, 3px);
    width: 100%;
    background-color: $primary_color;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
        transition: background-color 300ms;
    }
}
.primaryBtn {
    background-color: $primary_color;
    color: $white_color;
    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
    }
}
.secondaryBtn {
    background-color: $white_color;
    color: $primary_color;
    border: 1px solid $primary_color;
    &:hover {
        cursor: pointer;
        background-color: $primary_color;
        color: $white_color;
    }
}
