@use '@styles/__mixin.module.scss' as *;
@use '@styles/__variable.module.scss' as *;
.container {
    @include flex_box_custom(space-between, unset, 0);
    flex-direction: column;
    padding: 30px 20px;
    height: 80vh;
}
