@use '@styles/__mixin.module.scss' as *;
@use '@styles/__variable.module.scss' as *;
.containerMethods {
    margin-top: 45px;
    position: relative;
    border: 1px solid #e1e1e1;
    width: 100%;
    padding: 25px 0;
    .titleMethods {
        position: absolute;
        top: -1px;
        transform: translateY(-50%);
        left: 30%;
        background-color: #fff;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 14px;
        span {
            color: #2e7d32;
        }
    }
    .boxImgMethods {
        @include flex_box_custom(center, center, 10px);
    }
    .imgMethods {
        border: 1px solid #e1e1e1;
        max-width: 50%;
        width: 50px;
        height: 34px;
        border-radius: 5px;
    }
}
.textSecure {
    text-align: center;
    font-size: 14px;
    color: $thr_color;
    margin-top: 10px;
}
