// __mixin viết các khối style chung để tái sử dụng

@mixin radius_common($radius: 10px) {
    border-radius: $radius;
}
@mixin flex_box_custom($x, $y, $gap: 10px) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    gap: $gap;
}
@mixin btn($width, $height, $color, $radius) {
    outline: none;
    border: none;
    width: $width;
    height: $height;
    color: $color;
    border-radius: $radius;
}
